@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

/* CSS RESET */

* {
    margin: 0;

    &::before, *::after {
        box-sizing: border-box;
    }
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open sans', sans-serif;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

li{
    list-style: none;
}

a{
    color: black;
    text-decoration: none;
}

#root, #__next {
    isolation: isolate;
}

/* MENU */

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 5%;
    background-color: lightgray;

    .home-icon{
        font-size: 36px;
        font-weight: 600;
    }
}
.navbar .menu-wrapped{
    display: flex;
}

.navbar .navbar-list{
    display: flex;
    align-items: center;
}

.navbar .navbar-list .nav-item{
    margin-left: 20px;
}

/* HOME */

.container{
    padding: 5%;
}

.container .title-wrapped{
    text-align: center;
}

.container .title-wrapped h1{
    font-size: 24px;
}

.container .title-wrapped p{
    font-size: 18px;
}

.table-contacts{
    height: 60vh;
    padding: 10px;
    border: 1px solid black;
    margin-top: 50px;
}

.table-contacts table{
    width: 100%;
}

.table-contacts tr{
    background-color: #ececec;
}

.table-contacts td{
    background-color: #ececec;
    padding-left: 5px;
}


/* LOGIN */

.login-section .login-container{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 30px auto 0;
    text-align: center;
}

.login-section .login-container .form-wrapped{
    width: 45%;
}

.login-section .login-container form{
    margin-top: 20px;
}

.login-section .login-container .form-wrapped input{
    width: 100%;
    margin-bottom: 10px;
}

.login-section .login-container .form-wrapped button{
    width: 100%;
    margin-top: 20px;
}