@import "../components/main_map";

.container-fluid{
    padding-bottom: 50px;

    .row{
        text-align: center;
        height: 75vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1{
            font-size: 2rem;
        }

        h3{
            font-size: 1rem;
            margin-bottom: 20px;
        }

        p{
            max-width: 800px;
            margin: 0 auto 10px;
            font-size: 14px;
        }

        a{
            text-decoration: underline;
        }
    }

    .title-wrapped{
        text-align: center;
    
        h1{
            font-size: 24px;
        }
        
        p{
            font-size: 18px;
        }
    }
}

// .table-contacts{
//     min-height: 60vh;
//     padding: 10px;
//     border: 1px solid black;
//     margin-top: 50px;

//     table{
//         width: 100%;
//     }
    
//     tr{
//         background-color: #ececec;
//     }
    
//     td{
//         background-color: #ececec;
//         padding-left: 5px;
//     }
// }

