<%- include('includes/head') %>
<%- include('includes/nav') %>

<main>
  <div class="container-fluid">
    <div class="row">

      <h1>ARQ-ELP</h1>
      <h3>Inventário Arqueologico do Estuário da Laguna dos Patos</h3>

      <p>Este sistema foi desenvolvido por Fabrício Bernardes, aluno do Programa de Pós Graduação em Antropologia da Universidade Federal de Pelotas, como parte da sua pesquisa de mestrado.</p>
      <p>No presente momento, o sistema ainda está em processo de desenvolvimento e simula algumas das funcionalidades básicas existentes nos inventários arqueológicos utilizados pelo Instituto do Patrimônio Histórico e Artístico Nacional, o <a href="http://portal.iphan.gov.br/sgpa/?consulta=cnsa">CNSA</a> e o <a href="https://sicg.iphan.gov.br/sicg/pesquisarBem">SICG</a>. Nesta etapa de testes foram incluídos apenas os dados citados por Guilherme Naue e colaboradores no artigo “Novas perspectivas sobre a arqueologia de Rio Grande, RS”, de 1971.</p>

    </div>
  </div>
</main>

<%- include('includes/footer') %>
