<%- include('includes/head') %>
<%- include('includes/nav') %>

<script>
  var urlParams = "<%= urlParams %>"
</script>

<main>
  <div class="container-fluid">
    <div class="row">
        <h1 class="site-title"></h1>

        <p>Página em desenvolvimento</p>

    </div>
  </div>
</main>

<%- include('includes/footer') %>


