<%- include('includes/head') %>
<%- include('includes/nav') %>

<script>
  var urlParams = "<%= urlParams %>"
</script>

<main>
  <div class="container-fluid">
    <div class="row">
        <h1 class="site-title"></h1>
        
        <div class="data-infos">
          <span><h3>Latitude: </h3><p class="data-lat"></p></span>
          <span><h3>Longitude: </h3><p class="data-long"></p></span>
        </div>

        <div class="data-infos">
          <span><h3>Município: </h3><p class="data-mun"></p></span>
          <span><h3>Localidade: </h3><p class="data-loc"></p></span>
        </div>

        <div class="site-description"></div>

    </div>
  </div>
</main>

<%- include('includes/footer') %>


