<%- include('includes/head') %>
<%- include('includes/nav') %>

<main>
    <div class="container-fluid">
        <div class="row">

            <div class="main-content">
                <div id="map"></div>
            </div>

        </div>
    </div>
</main>

<%- include('includes/footer') %>
