<%- include('includes/head') %>
<%- include('includes/nav') %>

<script>
    var locations = <%- JSON.stringify(sites) %>
</script>

<main>
    <div class="webmap-section container-fluid">

        <div class="main-content">
            <div id="map"></div>
        </div>

    </div>
</main>

<%- include('includes/footer') %>
